@font-face{
  font-family: 'noto-sans';
  src: url('../fonts/Noto-Sans.woff2?2qevqt') format('woff2');
}

@font-face {
  font-family: 'iconfont';  /* project id 1194998 */
  src: url('//at.alicdn.com/t/font_1194998_houzv34ls5s.eot');
  src: url('//at.alicdn.com/t/font_1194998_houzv34ls5s.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1194998_houzv34ls5s.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1194998_houzv34ls5s.woff') format('woff'),
  url('//at.alicdn.com/t/font_1194998_houzv34ls5s.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1194998_houzv34ls5s.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dark::before { content: "\e74d"; }

.icon-light::before { content: "\e74a"; }

.icon-planet::before { content: "\e74e"; }
