@font-face {
  font-family: 'iconfont';  /* project id 1194998 */
  src: url('//at.alicdn.com/t/font_1194998_ef86zi8sho.eot');
  src: url('//at.alicdn.com/t/font_1194998_ef86zi8sho.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1194998_ef86zi8sho.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1194998_ef86zi8sho.woff') format('woff'),
  url('//at.alicdn.com/t/font_1194998_ef86zi8sho.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1194998_ef86zi8sho.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dark:before { content: "\e74d"; }

.icon-light:before { content: "\e74a"; }

.icon-planet:before { content: "\e74e"; }

.icon-search:before { content: "\e718"; }

.icon-mail:before { content: "\e6ff"; }

.icon-github:before { content: "\e709"; }

.icon-close:before { content: "\e621"; }
