@font-face {
  font-family: 'iconfont';  /* project id 1194998 */
  src: url('//at.alicdn.com/t/font_1194998_cuqt3cz1sa.eot');
  src: url('//at.alicdn.com/t/font_1194998_cuqt3cz1sa.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1194998_cuqt3cz1sa.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1194998_cuqt3cz1sa.woff') format('woff'),
  url('//at.alicdn.com/t/font_1194998_cuqt3cz1sa.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1194998_cuqt3cz1sa.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dark::before { content: "\e74d"; }

.icon-light::before { content: "\e74a"; }

.icon-planet::before { content: "\e74e"; }

.icon-search::before { content: "\e718"; }
