
@mixin theme(
  $theme-primary,
  $font-color,
  $font-color-article,
  $theme-active,
  $border-color
) {  
  --app-background-color: #{$theme-primary};
  --article-background-color: #{lighten($theme-primary, 5%)};

  --font-color-primary: #{$font-color};
  --font-color-article: #{$font-color-article};

  --nav-active: #{$theme-active};
  
  --border-color: #{$border-color};
}


body {
  &#light {
    @include theme(
      $theme-primary: #fff,
      $font-color: #161b3d,
      $font-color-article: #666,
      $theme-active: #2821fc,
      $border-color: #dcdfe6
    )
  }

  &#dark {
    @include theme(
      $theme-primary: #282c35,
      $font-color: #c0c0c0,
      $font-color-article: #c0c0c0,
      $theme-active: #22b3eb,
      $border-color: #dcdfe6
    )
  }
}