/* z-index
-------------------------- */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* font-weight
-------------------------- */
$--font-weight-primary: 400 !default;
$--font-weight-secondary: 100 !default;
$--font-weight-bold: 700 !default;

/* font-size
-------------------------- */
$--checkbox-font-size: 14px !default;